<div id="disruptionDetails" class="reveal-modal" data-reveal>
    <h1>Details of disruption</h1>

    <p>More detailed information about the selected disruption can be displayed here. </p>
    <br/>
    <%= image_tag "SampleMapOverview.png" %>
    <!--<img src="/images/SampleStripMap.png" alt="Map" align="middle">-->
    <a class="close-reveal-modal">&#215;</a>
</div>