<% content_for :header do %>
    <%= stylesheet_link_tag "responsive-tables" %>
    <%= javascript_include_tag "disruptionList" %>
<% end %>


<div class="row">
    <div class="large-12 columns">
        <h1>Disruptions list</h1>
    </div>
</div>
<div id="disruptionList">
    <%= render 'disruptionList' %>
</div>


<script type="text/javascript">
    $( document ).ready(function() {
        poll("<%= @version %>", 90000);
    });
</script>