<div class="row">
    <div class="large-12 columns">
        <h1>History</h1>
        <h2>Under construction ...</h2>
        Future work could include:
        <ul>
            <li>Get list of disruptions for given interval of time</li>
            <li>Generate and export report</li>
            <li>More complex analysis and graphs could be generated based on the past observation of the network</li>
        </ul>
    </div>
</div>