<div id="loginModal" class="reveal-modal" data-reveal>
    <form>
        <fieldset>
            <legend><h2>Login</h2></legend>
            <label>Username
                <input type="text" placeholder="Enter your username or email">
            </label>
            <label>Password
                <input type="password" placeholder="Enter your password">
            </label>
            <a href="settings.html" class="button round expand">Login</a>
        </fieldset>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>