<div id="privacyModal" class="reveal-modal" data-reveal  style="text-align: justify">
    <h2>Privacy & cookies</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique commodo augue, quis pretium libero
        placerat vel. Sed scelerisque velit ut eros auctor eleifend. Ut id turpis quis eros commodo varius. Proin sed
        luctus felis. Sed vel nisi eget libero condimentum viverra. Praesent tempor nec orci suscipit sagittis.
        Suspendisse consequat lacus turpis, eu iaculis massa pharetra at. Fusce commodo lacus sollicitudin velit aliquam
        pulvinar at varius tellus. Pellentesque odio enim, fermentum et tincidunt quis, aliquam eu ante. Maecenas
        pretium dolor luctus, tempus eros ac, consequat tellus. Mauris a lorem metus.
    </p>

    <p>
        Cras aliquam metus at erat faucibus malesuada. Duis congue arcu in venenatis finibus. Integer euismod tellus
        eros. Nunc ligula velit, dapibus ut augue non, maximus convallis lacus. Sed vel pharetra leo. Nunc ut interdum
        est. Curabitur finibus faucibus ante, eget convallis ligula convallis vitae. Nam suscipit ligula vitae metus
        volutpat, non interdum erat accumsan. Duis cursus laoreet turpis non ultricies.
    </p>

    <p>
        Cras blandit nisl erat, ultricies ornare felis varius vitae. Vivamus at tellus sodales, vehicula eros vel,
        ultricies orci. Duis scelerisque augue a dolor ultricies interdum. Suspendisse nibh neque, imperdiet sed
        eleifend ac, interdum quis urna. Donec vitae ex in mi consectetur tempus. Phasellus eu nunc posuere nulla
        consequat lacinia. Ut commodo ante ipsum, convallis hendrerit purus tempus in. Donec accumsan accumsan lacinia.
    </p>
    <a class="close-reveal-modal">&#215;</a>
</div>